.contact {

    // .contact__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 80px;
        margin-bottom: 100px;

        @include mobile {
            row-gap: 30px;
            margin-bottom: 60px;
        }
    }

    // .contact__inputs-wrapper

    &__inputs-wrapper {
        display: flex;
        column-gap: 110px;
        row-gap: 60px;
        flex-wrap: wrap;

        @include mobile {
            row-gap: 40px;
        }
    }

    // .contact__name

    &__name, &__email {
        flex: 1;
        width: 100%;
        font-weight: 700;
        font-size: 16px;

        @include mobile {
            flex: none;
        }
    }

    // .contact__phone

    &__phone {
        width: 100%;
        font-weight: 700;
        font-size: 16px;
    }
}

.your-name, .your-email, .your-phone {
    margin-bottom: 23px;
}

.input {
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid #000;
    color: #7E7E7E;
}
