.projects {
    margin-bottom: 100px;

    @include mobile {
        margin-bottom: 60px;
    }
    // .projects__cards

    &__cards {
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        gap: 80px 60px;
        align-items: center;
        justify-content: center;

        @include tablet {
            row-gap: 28px;
            margin-bottom: 38px;
        }
    }

    // .projects__card

    &__card {
        background-image: url(../img/car-1.jpg);
        padding: 20px;
        width: 360px;
        height: 460px;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        transition: all 0.2s ease-in, transform 0.2s;
        &:hover {
            box-shadow: 0px 0px 10px 7px rgba(255, 50, 0, 0.6);
            border-radius: 5px;
            color: #eb3200;
            transform: scale(1.2);
        }
    }

    .projects {

		// .projects__btns

		&__btns {
            display: flex;
            column-gap: 50px;
            justify-content: center;

            @include mobile {
                flex-direction: column;
                flex-wrap: wrap;
                row-gap: 30px;
                align-items: stretch;
            }
		}
    }
}

.card {

    // .card__dsc

    &__desc {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    // .card__title

    &__title {
        font-weight: 700;
        font-size: 20px;
    }
}