@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);
@import url(https://fonts.googleapis.com/css?family=League+Spartan:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=League+Gothic:regular);

// font-family: 'League Spartan';
// font-family: 'League Gothic';

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 0.3px;
	color: #000;
}

a {
	color: #000;
	text-decoration: underline;
}

a:focus, button:focus {
	outline: none;
}

.none {
	display: none;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.no-scroll {
	overflow-y: hidden;
}